body{
	background-color: aliceblue;
}
#jogo{
	width: 800px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}
h1{
	text-align: center;

}
#campo{
	border: 6px solid black;
} 
img{
	filter: grayscale(100);
	cursor: pointer;
}